/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/web/uploads/*
/web/css/.sass-cache/
/web/css/sass/
/web/css/stylesheets/
/web/css/globalsass/
/web/css/ie.css
/web/css/print.css
*~
