<!DOCTYPE html>
<html>
    <head>
        
        <title>{% block title %} Prácticas profesionales Facultad de Comunicaciones UAO{% endblock %}</title>
        {% block stylesheets %} 	{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		
		{% block javascripts %}		{% endblock %}

		{% block body %} 		{% endblock %}
    </body>
</html>
