{% extends '::frontend.html.twig' %}

	{% block seccion %}
		
		<article>
			
				<h2>This is the title of a blog post</h2>
			
			
		</article>
		
		<article>
			<h2>Articulo 1</h2>
		</article>

    <a href="{{path('logout')}}">Logout</a>
</div>
		</article>
		
		
	{% endblock %}


