{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id="titlee">Consultando la Asesoría # {{ datos.numase }}</h2>

		<div id = "menuop">
			<ul>
			<li><a href="javascript:history.back()" class = "baropcion">Regresar</a></li>
			</ul>
		</div>

	
	<form action="" method="post">
		<div>	
		<label>Documentación:</label>
		<textarea cols="125" rows="150">{{ datos.doc }}</textarea>
		</div>
	</form>	
	</div>
{% endblock %}
