{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block javascripts %}
	<meta charset="utf-8">
	 <title>jQuery UI Datepicker - Default functionality</title>
	 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	 <script src="//code.jquery.com/jquery-1.9.1.js"></script>
	 <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	 <script src="{{ asset('js/date.js') }}"></script>
{% endblock %}


{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id = "titlee">Cronograma del practicante</h2>
		<div id = "menuop">
			<ul>
			<li><a href="javascript:history.back()" class = "baropcion">Regresar</a></li>
			</ul>
		</div>
		<div id = "subinfowrapper"> 
			<table id = "tablaCronograma">
			  <tr>
				<th>ACTIVIDAD</th>
				<th>FECHA</th>
				<th>ESTADO</th>
			  </tr>
			
			  <tr>
				<td>Asesoría #1</td>
				<td>12/03/2014</td>
				<td>ENTREGADO</td>

			  </tr>
			  <tr>
				<td>Asesoría #2</td>
				<td>23/03/2014</td>
				<td>ENTREGADO</td>
			  </tr>

			  <tr>
				<td>Asesoría #3</td>
				<td>23/03/2014</td>
				<td>ENTREGADO</td>
			  </tr>

			  <tr>
				<td>Asesoría #4</td>
				<td>12/03/2014</td>
				<td>POR ENTREGAR</td>
			  </tr>
			  <tr>
				<td>Asesoría #5</td>
				<td>23/03/2014</td>
				<td>AUN FALTA</td>
			  </tr>

			  <tr>
				<td>Asesoría #6</td>
				<td>23/03/2014</td>
				<td>AUN FALTA</td>
			  </tr>

			  <tr>
				<td>Asesoría #7</td>
				<td>23/03/2014</td>
				<td>AUN FALTA</td>
			  </tr>

			  <tr>
				<td>Visita presentacion</td>
				<td>23/03/2014</td>
				<td>AUN FALTA</td>
			  </tr>

			  <tr>
				<td>Evaluación #1</td>
				<td>23/03/2014</td>
				<td>AUN FALTA</td>
			  </tr>

			  <tr>
				<td>Evaluación #2</td>
				<td>23/03/2014</td>
				<td>AUN FALTA</td>
			  </tr>

			  <tr>
				<td>Informe de gestión #1</td>
				<td>23/03/2014</td>
				<td>AUN FALTA</td>
			  </tr>

			  <tr>
				<td>Informe de gestión #2</td>
				<td>23/03/2014</td>
				<td>AUN FALTA</td>
			  </tr>

			  <tr>
				<td>Informe de gestión #3</td>
				<td>23/03/2014</td>
				<td>AUN FALTA</td>
			  </tr>

			  <tr>
				<td>Evaluación final</td>
				<td>23/03/2014</td>
				<td>AUN FALTA</td>
			  </tr>


			</table>
	</div>	
		
	</div>
{% endblock %}

