/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";
 @import "variables";
 



 html,body{
 	overflow-x:hidden;
 	overflow-y:hidden;
 	
 	text-rendering: optimizeLegibility !important;
 	font-smoothing: antialiased !important;
 	-webkit-font-smoothing: antialiased !important;
 	min-width:700px;
 	height:100%;
 }

 @font-face
 {
 	font-family: helveticaN;
 	src: url('../fonts/helvetica/helveticaneueltstd-lt.woff'),
 	url('../fonts/helvetica/helveticaneueltstd-lt.eot');


 }
 @font-face
 {
 	font-family: helveticaNBold;
 	src: url('../fonts/helvetica/HelveticaNeueLTStd-Md.otf');
 }

 @mixin border-radius($radius) {
 	-webkit-border-radius: $radius;
 	-moz-border-radius: $radius;
 	-ms-border-radius: $radius;
 	border-radius: $radius;
 }

 a{
 	text-decoration: none;
 }

 h1{

 	font-family:helveticaN;
 	font-size:23px;
 	color:white;
 }

 h2{
 	color: white;
 	font-family:helveticaN;
 	font-size:17px;
 }
 h3{
 	color: white;
 	font-family:helvetica;
 	font-size:13px;
 	margin-top:2px;
 }
 h4{

 	font-family:helvetica;
 	font-size:13px;
 	margin-top:2px;
 	font-weight:bold;
 }
 span{
 	font-weight:bold;
 }
 #mainHeader{
 	width:100%;
 	height:23px;
 	position:fixed;
 	top:0;
 	left:0;
 	background-color: $darkGray;
 	border-bottom: 1px solid black;
 	padding-top:7px;
 	color: $softGray;
 	min-width:700px;
 	z-index: 10;
 }
 #secondHeader{
 	position:fixed;
 	top:31px;
 	left:241px;
 	width:100%;
 	height:20px;
 	background-color: $darkGray;
 	margin-top:0.2px;
 	padding-top:6px;
 	border-bottom: 1px solid black;
 	border-top: 1px solid $boxGrayShadow;
 	color: $softGray;
 	z-index: 10;

 }
 #cerrarSesionButton{
 	width:120px;
 	float:right;
 	margin-right:10px;
 	padding:0 5px;

 }

 #cerrarSesionButton:hover{
 	background-color: #72030b;

 }
 a#cerrarButtonLink{
 	font-family: helveticaNBold;
 	font-size:14px;
 	color: white;
 	text-shadow:1px 1px 0px black;
 	height: 27px;
 	margin-top:9px;
 	float:left;

 }

 #sideBar{
 	background-color: $darkGray;
 	position:fixed;
 	z-index:10;
 	top:31px;
 	left:0;
 	width:210px;
 	height:100%;
 	float:left;
 	border-right: 1px solid black;
 	border-top: 1px solid #353133;
 	padding-left:33px;

 	h1#userName{
 		position:absolute;
 		top:$anchorPoint;


 	}
 	h2#userRole{
 		position:absolute;
 		top:$anchorPoint + 30;

 		color: $softGray;

 	}
 	#imgContainer{
 		position:absolute;
 		top: $anchorPoint+70;
 		width: 140px;
 		height: 140px;
 		overflow: hidden;
 		@include border-radius(50%);
 		border:none;
 		border: 1px solid $softGray;

 		img{
 			position:absolute;
 			top:-4px;
 		}

 	}
 	} /*sideBar */

 	#menu{
 		position: absolute;
 		top: 270px;
 		left: 0;
 		width: 100%;
 		z-index:3;

 		a{
 			width: 100%;
 			height: 40px;
 			border-bottom:1px solid black;
 			color:white;
 			float: left;
 			padding:5px 0;
 			box-shadow: 0px 1px 1px $boxGrayShadow;

 		}
 		a:first-child{
 			border-top:1px solid black;
 		}
 		a:hover{
 			background-color:$darkRed;
 		}
 		h3{
 			float: left;
 			margin-top: 11px;
 			text-shadow: 1px 1px 1px black;
 		}
 		img{
 			width: 35px;
 			height: 35px;
 			float: left;
 			margin-left: 25px;
 			margin-right: 7px;
 		}
 		.unable{



 			img{
 				opacity: 0.15;
 			}

 			h3{
 				color: $unableColor !important;
 				box-shadow: none !important;
 				text-shadow: none  !important;
 			}
 		}
 		.unable:hover{
 			cursor:default; 
 			background-color:$darkGray;
 			pointer-events: none !important;

 		}
 		.active{
 			background-color: black;
 		}

 	}

 	.content{
 		width:84.5%;
 		/*border:1px solid #000;*/
 		position:absolute;
 		top:60px;
 		left:245px;
 		min-width: 680px;


 		overflow:hidden;

 	}
 	.button{
 		background-color: $darkGray;
 		@include border-radius(5px);
 		padding:6px 15px;
 		color: white;
 		font-family: helveticaNBold;
 		font-size:14px;
 		margin:0 8px;
 		border:none;




 	}

 	.button:hover{
 		background-color: $redColor;
 		cursor: pointer;




 	}

 	input[type="text"], input[type="password"],#academico_perfil, #centro_direccion, input[type="email"], input[type="textarea"], input[type="password"]
 	{

 		@include border-radius(3px);
 		width:190px;
 		height: 30px;
 		border: #242021 solid 1px;
 		background-color: #fff;
 		color:#242424;
 		font-size: 0.8em;
 		padding-left: 5%;
 		/*margin-right:50px;*/
 		line-height: 150%;
 		font-family: helvetica;
 	}
	
	
 	input[type="radio"]{
 		float:left;
 	}
 	.nomodificable{
 		border: none !important;
 		
 	}
 	.nomodificable input{
 		border: none !important;
 	}
 	#centro_direccion{
 		max-height: 50px;
 	}
 	#academico_perfil{
 		height: 150px;
 		width: 100%;
 		max-height: 300px;
 		padding-top:15px;
 	}

 	select{
 		@include border-radius(3px);
 		appearance:none;
 		-moz-appearance:none; /* Firefox */
 		-webkit-appearance:none; /* Safari and Chrome */
 		width:205px;
 		height: 30px;
 		border: #242021 solid 1px;
 		background-color: $darkGray;
 		border:$softGray 1px solid;
 		padding-left: 2%;
 		color:$softGray;
 		background: url('../img/arrow.png') $darkGray no-repeat;
 	}

 	select:hover {
 		background: url('../img/arrow.png') $redColor no-repeat;

 	}

 	input[type="text"]:focus, #academico_perfil:focus, #centro_direccion:focus, input[type="password"]:focus, select:focus, input[type="email"]:focus
 	{
 		outline: none;

 		border: #af0000 solid 1px;


 	}



 	@import "contentStyle";