/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


 $redColor: #ec1c24;
 $darkRed: #72030b;
 $darkGray: #242021;
 $softGray: #b5b5b5; 
 $anchorPoint : 30px;
 $boxGrayShadow : #353133;
 $unableColor: #3f3a3c;
 $contentLeftMargin: 30px;
 