/*

  Comun.css
  Objetivo de esta hoja de estilos
  --------------------------------------------------------------
   Agrupa todos los estilos comunes de todas las partes del sitio
   web, tanto públicas como privadas: tipos de letra, tamaños,
   colores, márgenes, etc.

  Se aplica a
  --------------------------------------------------------------
   frontend, backend y extranet

*/

/* ===========================================================================
   Estilos básicos
   ======================================================================== */
body {
    background: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}


ul {
    margin-left: 1em;
    padding-left: 1px;
}

ul li, ol li {
    margin-top: 2px;
}

dl dt {
    font-weight: bold;
}
dl dd {
    margin-bottom: 1em;
    margin-left: .5em;
}

h1 { font-size: 21px; margin-top: 0; font-style:normal}
h2 { font-size: 18px; margin-top: 0; font-style:normal}
h3 { font-size: 12px; margin-top: 0; font-style:normal}
h4 { font-size: 6px; margin-top: 0; font-style:normal}

p {
    margin: 0 0 1em;
}

#grad1
{
height:150px;
background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Safari */
background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /* Standard syntax (must be last) */
}




/*
img {
    outline: 3px solid #E6E2DF;
}*/




span.si { color: #060; }
span.no { color: #C00; }
h1 span { color: #AAA; }

.oculto { display: none !important; }

.secppal {
	background: #FFFFFF;
	height:300px;
	position:absolute;
	width:70%;
} 	



/* ===========================================================================
   Tablas
   ======================================================================== 
table {
    border: 1px solid #CCC collapse;
    margin: 1em 0;
    width: 100%;
}
table tr, table th, table td {
    border: 1px solid #CCC;
    padding: 1em .5em;
}
*/

/* ===========================================================================
   Tablas
   ======================================================================== */
#customers {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
width: 80%;
border-collapse: collapse;
}

tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}

tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}

#customers th {
font-size: 0.8em;
text-align: left;
padding-top: 5px;
padding-bottom: 4px;
background-color: #A7C942;
color: #fff;
}

#customers tr.alt td {
color: #000;
background-color: #EAF2D3;
}


td, th {
display: table-cell;
vertical-align: inherit;
}

#customers td, #customers th {
font-size: 0.8em;
border: 1px solid #98bf21;
padding: 3px 7px 2px 7px;
}

/* ===========================================================================
   Formularios
   ======================================================================== */
form > div > div {
    clear: both;
    border-bottom: 1px solid #CCC;
    padding: 0.5em .5em;
}
form label {
    display: inline-block;
    font-weight: bold;
    width: 200px;
	font-family:Tahoma;
	font-size:10px
}
form textarea {
    padding: 2px;
    margin-bottom: .2em;
}

form input {
 padding: 5px;  
    font-size: 10px;  
    text-shadow: 0px 1px 0px #fff;  
    outline: none;  
    background: -webkit-gradient(linear, left top, left bottombottom, from(#bcbcbe), to(#ffffff));  
    background: -moz-linear-gradient(top,  #bcbcbe,  #ffffff); 
}


form textarea {
    height: 200px;
    width: 500px;
}
form textarea.mediana {
    height: 100px;
    width: 500px;
}
form label + div[id*="fecha"] {
    display: inline-block;
    overflow: hidden;
}
form label + div[id*="fecha"] > div {
    float: left;
    margin-right: 2em;
}

form p.ayuda {
    color: #555;
    font-size: 14px;
    margin: .5em 0 .5em 200px;
}

form input[type="submit"] {
    margin: 1em 0;
}
form input.largo {
    width: 500px;
}
form input.corto {
    width: 100px;
}

form > div:first-child > ul:first-child, /* mensajes de error globales */
form div > * > ul:first-child,           /* mensajes de error de cada campo */
form label + ul {
    background: #C00;
    color: #FFF;
    list-style: none;
    margin: 0 0 1em;
    padding: .2em;
}
form > div:first-child > ul:first-child li,
form div > * > ul:first-child li,
form label + ul li {
    margin: 0;
    padding: .2em;
}
form > div:first-child > ul:first-child li + li,
form div > * > ul:first-child li + li,
form label + ul li + li {
    margin-top: .5em;
}

/* ===========================================================================
   Formulario de login
   ======================================================================== */
#login article {
    position: relative;
    top: 50px;
    left: 250px;
    min-height: 400px;
}
#login article h1 {
    font-size: 28px;
}

#login form label {
    font-size:  ;
    font-weight: normal;
    width: 150px;
}

#login form input {
    font-size: 10px;
}
#login form input[type="submit"] {
    position: relative;
    left: 310px;
}

/* ===========================================================================
   Enlaces
   ======================================================================== */
#alogo a {color: 0}

   a         { color: #2200C1; }
a:visited { color: #2200C1; }
a:hover   { color: #C06 !important; }
a:active  { position: relative; top: 1px; }

/* ===========================================================================
   Botones
   ======================================================================== */
/* Botón normal */
.boton, .boton:visited {
    background: #A80000;
    border-bottom: 1px solid rgba(0,0,0, 0.25);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    padding: .5em 1em;
    text-decoration: none;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: .2em;

    -moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.6);
    box-shadow: 0 1px 3px rgba(0,0,0, 0.6);

    text-shadow: 0 1px 1px #603;
}
.boton:hover {
    background: #800000 ;
    color: #FFF !important;
}

/* Botón click-to-action */
.cta {
    background: #0035C7;
    border-radius: 5px;
    color: #FFF !important;
    display: inline-block;
    font-size: 21px;
    line-height: 30px;
    padding: 12px 15px 12px 10px;
    margin: 1em;
    min-width: 50%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.cta strong {
    background: #FFF;
    border-radius: 5px;
    color: #0035C7;
    font-size: 24px;
    font-weight: normal;
    margin-right: 10px;
    padding: 5px 10px;
    -moz-box-shadow: 0px 0px 5px #4275FF;
    -webkit-box-shadow: 0px 0px 5px #4275FF;
    box-shadow: 0px 0px 5px #4275FF;
}

/* ===========================================================================
   Estructura
   ======================================================================== */
#contenedor {
    background: #FFFF;
    margin: 0 auto 1em;
    width: 960px;

    -moz-box-shadow: 0 1px 5px #444;
    -webkit-box-shadow: 0 1px 5px #444;
    box-shadow: 0 1px 5px #444;
}

#contenedor > article {
    min-height: 400px;
}

footer {
    clear: both;
}

/* ===========================================================================
   Articulos
   ======================================================================== */
article {
    background: #f2f2f2;
    color: #FFF;
    border-bottom: 1px solid #CCC;
    height: 180px;
    margin-bottom: 1em;
    height: 200px;
	width: 400px;
	float: left;
	padding: 5px;
	margin: 5px;
}



/* ===========================================================================
   Cabecera y menú de navegación
   ======================================================================== */
header {
    background: #A80000;
    color: #FFF;
    border-bottom: 1px solid #CCC;
    height: 200px;
    margin-bottom: 1em;
    overflow: hidden;
    position: relative;
}
header a, header a:visited {
    /*border-bottom: 1px solid;*/
    text-decoration: none;
}
header a:hover {
    color: #FF0A85 !important;
}

header h1 {
    position: absolute;
    left: 20px;
    line-height: 60px;
    margin: 0;
}
header h1 a {

    border: none;
    color: #FFF !important;
    font-size: 28px;
    text-decoration: none;
}

nav{
	width:100%;
	height:30px;
}

nav ul {
    list-style: none;
    position: relative;
	width:80%;
	}

nav ul li {
    float: left;
	margin-left: 20px;
}

nav ul li a {
    color: #FFF !important;
    font-size: 14px;
}



/* ===========================================================================
   Zona lateral
   ======================================================================== */


   
aside {
    font-size: 13px;
	float: right;
	padding: 0 2px 0 1px;
	width:200px;
}

aside h2 {
    font-size: 12px;
    margin-bottom: .25em;
	color: #FFF;
	font-style:normal}	
}

aside a {
    text-decoration: none;
}
aside:hover a {
    text-decoration: underline;
}

aside ul {
    margin-top: .25em;
}

aside section div{
	border:1px solid #E8E8E8;
	padding:5px 5px; 
	background:#E8E8E8;
	width:180px;

	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}   

/* ===========================================================================
   Caja de login
   ======================================================================== */

#login form{
	background: #E8E8E8 ; /*#DCDCDC*/;

}



#barratitulo {
	
	border:1px solid #A80000;
	padding:5px 5px; 
	background:#A80000;
	width:180px;
	/*border-radius:5px;*/
	
	
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:0em;
	border-bottom-left-radius:0em;
	
}

/* ===========================================================================
   Pie de página
   ======================================================================== */
footer {
    color: #999;
    border-top: 2px solid #A71414;
    font-size: 13px;
    padding: 1em;
    position: absolute;
	top:100%;
}

footer a {
    color: #999;
    padding: 0 1em;
}
footer:hover a {
    color: #11C;
}

footer #idioma {
    position: absolute;
    right: 1em;
    top: 1em;
}

/*PROPIO

*/

#error {
	background-color: #99CCFF;	
}

div h4 {
	font:11px arial,sans-serif;
}


#divopciones
{
	/*border:1px solid #A80000;*/
	padding:10px 10px; 
	background: #F5F5F5; /*#FFFFE0; /*#FFEFD5*/
	width:150px;
	border-radius:10px;
	outline-width:10px;

	margin-top:10px;
	margin-bottom:10px;
	margin-right:5px;
	margin-left:5px;
}

#divnav {
	position:fixed;
	top:160px;
	width:100%;
	height:50px;
}
#divsec{
	
}

