/*

  Comun.css
  Objetivo de esta hoja de estilos
  --------------------------------------------------------------
   Agrupa todos los estilos comunes de todas las partes del sitio
   web, tanto públicas como privadas: tipos de letra, tamaños,
   colores, márgenes, etc.

  Se aplica a
  --------------------------------------------------------------
   frontend, backend y extranet

*/




/* ===========================================================================
   Estilos básicos
   ======================================================================== */
body {
    background: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}


h3#title {
font-size: 1.2em;
width: 73%;
max-width: 450px;
color: #100f0f;
line-height: 110%;
margin-left: 10%; /*110px*/
margin-top: 1%;
}


ul {
    margin-left: 1em;
    padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
	height:40px;
	float: left;
}

ul li, ol li {
    margin-top: 5px;
    padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	height:15px;
	width:150px;
	float:left;
	
}

dl dt {
    font-weight: bold;
}
dl dd {
    margin-bottom: 1em;
    margin-left: .5em;
}


p {
    margin: 0 0 1em;
}


span.si { color: #060; }
span.no { color: #C00; }
h1 span { color: #AAA; }

.oculto { display: none !important; }

.secppal {
	background: #FFFFFF;
	height:900px;
	position:absolute;
	width:70%;
} 	

#menuop{
	display: block;
	width: 100%;
	height: 15%;
	margin-top:1%;
	margin-left:1%;
	background-color: #f3f3f3;
	padding: 1px;
	border-top: 3px solid #af0000;
	border-bottom: 1px solid rgba (0,0,0,0.15);
}

#subinfowrapper{
	margin-top:1%;
	margin-left:2%;
	width: 100%;	
	height:100%;
}

div.titulo{
	background-color:#A80000;
	font-size: 12px;
	font-family: Helvetica;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	width: 100%;
	height: 10px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:5px;
}

/* ===========================================================================
   Tablas
   ======================================================================== */
#customers {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
width: 98%;
border-collapse: collapse;
}

tbody {
display: table-row-group;
vertical-align: middle;
border-color: #A80000;
}

tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}

#customers th {
font-size: 2em;
text-align: left;
padding-top: 5px;
padding-bottom: 4px;
background-color: #A80000;
color: #fff;
font-weight:bold;
}

#customers tr.alt td {
color: #000;
background-color: #E8E8E8;
}


td, th {
display: table-cell;
vertical-align: inherit;
}

#customers td, #customers th {
font-size: 0.8em;
border: 1px solid #A80000;
padding: 3px 7px 2px 7px;
}

/* ===========================================================================
   Formularios
   ======================================================================== */
form > div {
    clear: both;
    border-bottom: 1px solid #CCC;
    padding: 0.5em .5em;
}
form label {
    display: inline-block;
    font-weight: bold;
    width: 100px;
	font-family:Tahoma;
	font-size:16px;
}

form > div > label {
    display: inline-block;
    font-weight: bold;
    width: 15%;
	font-family:Tahoma;
	font-size:16px;

}

form > div > div.fecha{
    /* border-bottom: 1px solid #CCC; */
    padding: 0.5em .5em;
	float:left;
	width: 130px;
}

form > div.contenedor_fecha {
    clear: both;
    border-bottom: 1px solid #CCC;
    padding: 0.5em 1.5em 0.5em 0.5em;
	display:block;
	height:60px;
}

form > div.contenedor_fecha1 {
    clear: both;
    border-bottom: 1px solid #CCC;
    padding: 0.5em 1.5em 0.5em 0.5em;
	display:block;
	height:60px;
}


div.fecha label{
    display: inline-block;
    font-weight: bold;
    width: 90%;
	font-family:Tahoma;
	font-size:12px;


}

/*
form textarea {
    padding: 2px;
    margin-bottom: 2em;
}*/

form input {
 padding: 5px;  
    font-size: 14px;  
    text-shadow: 0px 1px 0px #fff;  
    outline: none;  
    background: -webkit-gradient(linear, left top, left bottombottom, from(#bcbcbe), to(#ffffff));  
    background: -moz-linear-gradient(top,  #bcbcbe,  #ffffff); 
}

/*
form textarea {
    height: 50px;
    width: 500px;
}*/
form textarea.mediana {
    height: 100px;
    width: 500px;
}
form label + div[id*="fecha"] {
    display: inline-block;
    overflow: hidden;
}
form label + div[id*="fecha"] > div {
    float: left;
    margin-right: 2em;
}

form p.ayuda {
    color: #555;
    font-size: 14px;
    margin: .5em 0 .5em 200px;
}

form input[type="submit"] {
    margin: 1em 0;
}
form input.largo {
    width: 300px;
}
form input.mediano {
    width: 200px;
}
form input.corto {
    width: 100px;
}

form > div:first-child > ul:first-child, /* mensajes de error globales */
form div > * > ul:first-child,           /* mensajes de error de cada campo */
form label + ul {
    background: #C00;
    color: #FFF;
    list-style: none;
    margin: 0 0 1em;
    padding: .2em;
}
form > div:first-child > ul:first-child li,
form div > * > ul:first-child li,
form label + ul li {
    margin: 0;
    padding: .2em;
}
form > div:first-child > ul:first-child li + li,
form div > * > ul:first-child li + li,
form label + ul li + li {
    margin-top: .5em;
}



/* ===========================================================================
   Botones
   ======================================================================== */
/* Botón normal */
.boton, .boton:visited {
    background: #A80000;
    border-bottom: 1px solid rgba(0,0,0, 0.25);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    padding: .5em 1em;
    text-decoration: none;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: .2em;

    -moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.6);
    box-shadow: 0 1px 3px rgba(0,0,0, 0.6);

    text-shadow: 0 1px 1px #603;
}
.boton:hover {
    background: #800000 ;
    color: #FFF !important;
}

/* Botón click-to-action */
.cta {
    background: #0035C7;
    border-radius: 5px;
    color: #FFF !important;
    display: inline-block;
    font-size: 21px;
    line-height: 30px;
    padding: 12px 15px 12px 10px;
    margin: 1em;
    min-width: 50%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.cta strong {
    background: #FFF;
    border-radius: 5px;
    color: #0035C7;
    font-size: 24px;
    font-weight: normal;
    margin-right: 10px;
    padding: 5px 10px;
    -moz-box-shadow: 0px 0px 5px #4275FF;
    -webkit-box-shadow: 0px 0px 5px #4275FF;
    box-shadow: 0px 0px 5px #4275FF;
}

/* ===========================================================================
   Estructura
   ======================================================================== */
#contenedor {
    background: #FFFF;
    margin: 0 auto 1em;
    width: 960px;

    -moz-box-shadow: 0 1px 5px #444;
    -webkit-box-shadow: 0 1px 5px #444;
    box-shadow: 0 1px 5px #444;
}

#contenedor > article {
    min-height: 400px;
}



/* ===========================================================================
   Articulos
   ======================================================================== */
article {
    background: #f2f2f2;
    color: #FFF;
    border-bottom: 1px solid #CCC;
    height: 180px;
    margin-bottom: 1em;
    height: 200px;
	width: 400px;
	float: left;
	padding: 5px;
	margin: 5px;
}



/* ===========================================================================
   Cabecera y menú de navegación
   ======================================================================== */
header {
    background: #A80000;
    color: #FFF;
    border-bottom: 1px solid #CCC;
    height: 200px;
    margin-bottom: 1em;
    overflow: hidden;
    position: relative;
}
header a, header a:visited {
    /*border-bottom: 1px solid;*/
    text-decoration: none;
}
header a:hover {
    color: #FF0A85 !important;
}

header h1 {
    position: absolute;
    left: 20px;
    line-height: 60px;
    margin: 0;
}
header h1 a {

    border: none;
    color: #FFF !important;
    font-size: 28px;
    text-decoration: none;
}


#error {
	background-color: #99CCFF;	
}

div h4 {
	font:11px arial,sans-serif;
}


#divopciones
{
	/*border:1px solid #A80000;*/
	padding:10px 10px; 
	background: #F5F5F5; /*#FFFFE0; /*#FFEFD5*/
	width:150px;
	border-radius:10px;
	outline-width:10px;

	margin-top:10px;
	margin-bottom:10px;
	margin-right:5px;
	margin-left:5px;
}

#divnav {
	position:fixed;
	top:160px;
	width:100%;
	height:50px;
}
#divsec{
	
}

/*
===============================================================================
Cajas desplegables
===============================================================================
*/

#panel {
	padding:5px;
	text-align:center;
	background-color:#fff;
	border:solid 1px #fff;
	display:none;
	
}



#flip {
padding:5px;
text-align:center;
background-color:#A80000;
border:solid 1px #A80000;
color: #fff;
}


#barra{
padding-top:40px;
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
}


#opButton {
	font-size: 1.2em;
	margin-top: 0;
	color: #5b5b5b;
	float: left;
	font-size: 12px;
	font-family: Helvetica;
	text-decoration: none;
	font-weight: bold;
	color: #af0000;
}


div #error {
	background-color:#A80000;
	font-size: 12px;
	font-family: Helvetica;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	height: 20px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:5px;

}


div.datos{
	background-color:#F0F0F0;
	color: #0000;
	height: 45px;
	padding-top:15px;
	padding-bottom:15px;
	padding-right:5px;
	padding-left:15px;
	margin: 10px;
	
}

div.tituloform{
	background-color:#fff;
	height: 40px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
	vertical-align: middle;
	text-align: center;

}

div.subtituloform{
	background-color:#F0F0F0;
	color: #0000;
	height: 20px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:5px;
}


div.tituloform h2{
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
}

div.indicador{
	left: 100px;
	background-color:#F0F0F0;
	color: #0000;
	height: 20px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:5px;
	
	margin: 10px;
}


h2.datos {
	font-size: 16px;
	font-family: Helvetica;
	font-weight: bold;
}

 h3.datos {
	font-size: 14px;
	font-family: Helvetica;
	font-weight: bold;
}

a.baropcion{
	width: 120px;
	height: 20px;
	background: #e0001a;
	float: left;
	margin-top: 0.1%;
	margin-right: 0.1%;
	text-decoration: none;
	/*position: relative;*/
	font-family: Helvetica;
	font-size: 12px;
	color:#fff;
	font-weight: bold;
	padding-top:28px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:5px;
	text-align: center;

}

a.baropcion:hover{
	opacity:0.5;
}

.

/*********************************************************************************/
#tablaCronograma{
	border-collapse: collapse;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	
}
#tablaCronograma table,th,td
{
border:1px solid black;
}

#tablaCronograma th 
{
font-size:0.8em;
text-align:center;
padding-top:5px;
padding-bottom:4px;
background-color:#B00000;
color:#ffffff;
}

#tablaCronograma td {
	text-align: center;
}
#tablaCronograma tr{
	height: 15px;
}

.colActividad{
	width: 5%;
}
.colFecha{
	width: 2%;
}
.colEstado{
	width: 2%;
}

h6{
font-style:italic;
font-size:0.7em;
}

