/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, globalsass/sass/contentStyle.scss */
.upSection {
  width: 85%;
  height: 45px;
  /*border:1px solid #000;*/
  overflow: hidden;
  position: fixed;
  top: 57px;
  padding-top: 25px;
  background-color: white;
  z-index: 3;
}
/* line 28, globalsass/sass/contentStyle.scss */
.upSection h1 {
  /*width: 150px;*/
  background-color: #ec1c24;
  padding: 3px 0px;
  padding-right: 15px;
  padding-left: 30px;
  float: left;
}
/* line 40, globalsass/sass/contentStyle.scss */
.upSection a {
  float: right;
  margin-right: 1%;
}
/* line 44, globalsass/sass/contentStyle.scss */
.upSection a img {
  margin-right: 7px;
  float: left;
}
/* line 48, globalsass/sass/contentStyle.scss */
.upSection a h4 {
  float: left;
  margin-top: 7px;
}
/* line 55, globalsass/sass/contentStyle.scss */
.upSection form {
  position: absolute;
  top: 100px;
  right: 4%;
  float: right;
  opacity: 0;
}
/* line 63, globalsass/sass/contentStyle.scss */
.upSection form label {
  display: none;
}
/* line 66, globalsass/sass/contentStyle.scss */
.upSection form input[type="file"] {
  width: 300px;
}
/* line 75, globalsass/sass/contentStyle.scss */
.upSection #form div {
  float: right !important;
}

/* line 83, globalsass/sass/contentStyle.scss */
.downSection {
  width: 100%;
  margin-top: 83px;
  padding-bottom: 80px;
  /*border:1px solid #000;*/
}

/* line 92, globalsass/sass/contentStyle.scss */
.practicantesTableHead, .generalTableHead {
  width: 100%;
  padding-left: 30px;
}
/* line 97, globalsass/sass/contentStyle.scss */
.practicantesTableHead .tableHead, .generalTableHead .tableHead {
  background-color: #b5b5b5;
  height: 38px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 5px;
  z-index: 3;
}

/* line 109, globalsass/sass/contentStyle.scss */
.practicantesTable {
  width: 100%;
  padding-left: 30px;
  height: auto;
  table-border: colapse;
  /* practicantesTable */
}
/* line 116, globalsass/sass/contentStyle.scss */
.practicantesTable .tableHead {
  background-color: #b5b5b5;
  height: 35px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 5px;
  z-index: 3;
}
/* line 127, globalsass/sass/contentStyle.scss */
.practicantesTable .tableItem {
  margin: 10px 0px;
  /*border:2px solid $darkGray;*/
  height: 20px;
  color: black;
  position: relative;
}
/* line 138, globalsass/sass/contentStyle.scss */
.practicantesTable .tableItem:hover {
  color: white !important;
}
/* line 147, globalsass/sass/contentStyle.scss */
.practicantesTable #hoverDiv {
  height: 55px;
  width: 100%;
  position: absolute;
  margin-top: 25px;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  z-index: 2;
}
/* line 158, globalsass/sass/contentStyle.scss */
.practicantesTable .opciones {
  position: absolute;
  opacity: 0;
  padding: 5px 10px;
  background-color: #242021;
  top: 26px;
  right: 36%;
  z-index: 10;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 173, globalsass/sass/contentStyle.scss */
.practicantesTable .opciones td {
  padding: 1px 6px;
}
/* line 177, globalsass/sass/contentStyle.scss */
.practicantesTable .opciones td:hover {
  background-color: #72030b;
}
/* line 180, globalsass/sass/contentStyle.scss */
.practicantesTable .opciones img {
  float: left;
}
/* line 184, globalsass/sass/contentStyle.scss */
.practicantesTable .opciones h3 {
  color: white;
  float: left;
  margin-top: 9px;
  margin-left: 5px;
}
/* line 197, globalsass/sass/contentStyle.scss */
.practicantesTable .spacer {
  height: 40px;
}
/* line 201, globalsass/sass/contentStyle.scss */
.practicantesTable img {
  position: relative;
  margin: 0 auto;
}
/* line 208, globalsass/sass/contentStyle.scss */
.practicantesTable td {
  position: relative;
  font-family: helvetica;
  font-size: 14px;
  z-index: 2;
}
/* line 219, globalsass/sass/contentStyle.scss */
.practicantesTable h2 {
  color: #b5b5b5;
  margin-left: 30px;
  font-weight: bold;
}
/* line 225, globalsass/sass/contentStyle.scss */
.practicantesTable .itemImgContainer {
  width: 100px;
  height: 100px;
  border: 3px solid #242021;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
/* line 231, globalsass/sass/contentStyle.scss */
.practicantesTable .itemImgContainer .foto {
  top: -5px;
}

/* practicantes Table style */
/* line 238, globalsass/sass/contentStyle.scss */
.imgContainer {
  width: 150px;
  height: 150px;
  border: 3px solid #242021;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
/* line 245, globalsass/sass/contentStyle.scss */
.imgContainer .foto {
  position: relative;
  top: -5px;
}

/* line 250, globalsass/sass/contentStyle.scss */
.profileContainer {
  padding-left: 30px;
  padding-top: 42px;
}

/* line 254, globalsass/sass/contentStyle.scss */
.profilePictureContainer {
  width: 400px;
  float: left;
  margin-bottom: 10px;
  /*border: 1px solid #000;*/
}

/* line 260, globalsass/sass/contentStyle.scss */
.profileFormContainer {
  width: 800px;
  float: left;
  /*border: 1px solid #000;*/
}

/* line 266, globalsass/sass/contentStyle.scss */
.inputContainer {
  display: inline-block;
  margin-bottom: 20px;
  width: 390px;
  float: left;
  /*height: 40px;*/
}
/* line 273, globalsass/sass/contentStyle.scss */
.inputContainer h2, .inputContainer label {
  color: black;
  font-family: helveticaNBold;
  font-size: 17px;
  float: left;
  margin-top: 5px;
  margin-right: 15px;
  width: 120px;
}
/* line 282, globalsass/sass/contentStyle.scss */
.inputContainer .input {
  float: left;
}

/* line 286, globalsass/sass/contentStyle.scss */
.selFile {
  width: 300px;
}

/* line 289, globalsass/sass/contentStyle.scss */
.selFile label {
  display: none;
}

/* line 293, globalsass/sass/contentStyle.scss */
.profileData {
  /*border:1px solid #000;*/
  height: 85px;
  margin-bottom: 14px;
}
/* line 298, globalsass/sass/contentStyle.scss */
.profileData h1, .profileData h2 {
  color: #242021;
  margin-left: 125px;
  margin-top: 5px;
}
/* line 304, globalsass/sass/contentStyle.scss */
.profileData .imgContainer {
  width: 80px;
  height: 80px;
  position: absolute;
}

/* line 311, globalsass/sass/contentStyle.scss */
.tabla {
  width: 100%;
  /*border:1px solid #000;*/
  overflow: auto;
}
/* line 316, globalsass/sass/contentStyle.scss */
.tabla .tableHeader, .tabla .tableHeader:hover {
  color: #fff;
  background-color: #b5b5b5;
  font-family: helvetica;
  font-size: 18px;
  z-index: 2;
  height: 30px;
}
/* line 324, globalsass/sass/contentStyle.scss */
.tabla td {
  position: relative;
  font-family: helvetica;
  font-size: 15px;
  z-index: 2;
  padding: 5px 0;
  padding-top: 10px;
  width: 120px;
}
/* line 333, globalsass/sass/contentStyle.scss */
.tabla tr {
  margin-top: 10px;
}
/* line 337, globalsass/sass/contentStyle.scss */
.tabla tr:hover {
  background-color: #ec1c24;
  color: #fff;
}
/* line 341, globalsass/sass/contentStyle.scss */
.tabla tr:hover td:first-child {
  color: #fff;
}
/* line 345, globalsass/sass/contentStyle.scss */
.tabla th:first-child {
  padding-left: 30px;
}
/* line 348, globalsass/sass/contentStyle.scss */
.tabla tr td:first-child {
  padding-left: 30px;
  width: 285px;
  font-weight: bold;
  color: #242021;
}

/* line 356, globalsass/sass/contentStyle.scss */
.generalTable {
  width: 100%;
  padding-left: 30px;
  height: auto;
  table-border: colapse;
  /* practicantesTable */
}
/* line 363, globalsass/sass/contentStyle.scss */
.generalTable .tableHead {
  background-color: #b5b5b5;
  height: 35px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 5px;
  z-index: 3;
}
/* line 374, globalsass/sass/contentStyle.scss */
.generalTable .tableItem {
  margin: 10px 0px;
  /*border:2px solid $darkGray;*/
  padding-top: 20px;
  height: 40px;
  color: black;
  position: relative;
}
/* line 386, globalsass/sass/contentStyle.scss */
.generalTable .tableItem:hover {
  color: white !important;
  background-color: #ec1c24;
}
/* line 396, globalsass/sass/contentStyle.scss */
.generalTable #hoverDiv {
  height: 65px;
  width: 100%;
  position: absolute;
  margin-top: -30px;
  z-index: 2;
}
/* line 405, globalsass/sass/contentStyle.scss */
.generalTable .opciones {
  position: absolute;
  opacity: 0;
  float: right;
  padding: 5px 10px;
  background-color: #242021;
  top: 0;
  right: 160px;
  z-index: 10;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 420, globalsass/sass/contentStyle.scss */
.generalTable .opciones td {
  padding: 1px 6px !important;
  float: left;
  width: 80px;
}
/* line 425, globalsass/sass/contentStyle.scss */
.generalTable .opciones td:first-child {
  padding: 1px 6px !important;
}
/* line 430, globalsass/sass/contentStyle.scss */
.generalTable .opciones td:hover {
  background-color: #72030b;
}
/* line 433, globalsass/sass/contentStyle.scss */
.generalTable .opciones img {
  float: left;
}
/* line 437, globalsass/sass/contentStyle.scss */
.generalTable .opciones h3 {
  color: white;
  float: left;
  margin-top: 9px;
  margin-left: 5px;
}
/* line 450, globalsass/sass/contentStyle.scss */
.generalTable .spacer {
  height: 40px;
}
/* line 454, globalsass/sass/contentStyle.scss */
.generalTable img {
  position: relative;
  margin: 0 auto;
}
/* line 461, globalsass/sass/contentStyle.scss */
.generalTable td {
  position: relative;
  font-family: helvetica;
  font-size: 14px;
  z-index: 2;
}
/* line 473, globalsass/sass/contentStyle.scss */
.generalTable h2 {
  color: #b5b5b5;
  margin-left: 30px;
  font-weight: bold;
}
/* line 479, globalsass/sass/contentStyle.scss */
.generalTable .itemImgContainer {
  width: 100px;
  height: 100px;
  border: 3px solid #242021;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
/* line 485, globalsass/sass/contentStyle.scss */
.generalTable .itemImgContainer .foto {
  top: -5px;
}

/* general Table style */
/* line 492, globalsass/sass/contentStyle.scss */
#centro_direccion {
  width: 170px;
  font-family: helvetica;
  font-family: 12px;
}

/* line 498, globalsass/sass/contentStyle.scss */
#externo_cargo {
  width: 170px;
}

/* line 501, globalsass/sass/contentStyle.scss */
#cargo div {
  float: left;
}

/* line 505, globalsass/sass/contentStyle.scss */
#cargo div:last-child {
  margin-left: 53px;
}

/* line 508, globalsass/sass/contentStyle.scss */
.nomodificable {
  border: none !important;
}

/* line 512, globalsass/sass/contentStyle.scss */
.inform {
  width: 100%;
  overflow: auto;
  height: 650px;
  /*activity*/
}
/* line 520, globalsass/sass/contentStyle.scss */
.inform .activity {
  margin-top: 30px;
  width: 100%;
  float: left;
  border-top: 3px solid #b5b5b5;
  padding-top: 30px;
}
/* line 528, globalsass/sass/contentStyle.scss */
.inform .activity .indicadores {
  float: left;
  width: 350px;
  margin-top: 25px;
  margin-left: 15px;
}
/* line 534, globalsass/sass/contentStyle.scss */
.inform .activity .indicadores .inputContainer {
  width: 200px !important;
}
/* line 540, globalsass/sass/contentStyle.scss */
.inform .activity .inputContainer {
  float: left;
  width: 435px;
  margin-left: 30px;
}
/* line 545, globalsass/sass/contentStyle.scss */
.inform .activity .inputContainer h2 {
  margin-bottom: 10px;
  width: 100% !important;
}
/* line 550, globalsass/sass/contentStyle.scss */
.inform .activity .inputContainer .input {
  margin-top: 20px;
  width: 350px;
  margin-left: 10px;
}
/* line 556, globalsass/sass/contentStyle.scss */
.inform .activity .inputContainer .radio {
  width: 380px;
}
/* line 558, globalsass/sass/contentStyle.scss */
.inform .activity .inputContainer .radio label {
  width: auto;
}
/* line 566, globalsass/sass/contentStyle.scss */
.inform .activity h1 label {
  width: 243px;
  margin-bottom: 10px;
}
/* line 574, globalsass/sass/contentStyle.scss */
.inform h1 {
  font-family: helvetica;
  font-size: 24px;
  color: #242021;
  margin-left: 30px;
}
/* line 581, globalsass/sass/contentStyle.scss */
.inform textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  width: 400px;
  height: 150px;
  border: #242021 solid 1px;
  color: #242424;
  font-size: 0.8em;
  padding-left: 5%;
  padding-top: 20px;
  /*margin-right:50px;*/
  font-family: helvetica;
}
/* line 596, globalsass/sass/contentStyle.scss */
.inform textarea:hover {
  border-color: #ec1c24;
}
/* line 599, globalsass/sass/contentStyle.scss */
.inform textarea:focus {
  border-color: #ec1c24;
}
/* line 603, globalsass/sass/contentStyle.scss */
.inform textarea.nomodificable {
  background-color: #ececec;
}
/* line 607, globalsass/sass/contentStyle.scss */
.inform input.nomodificable {
  background-color: #ececec;
}
/* line 611, globalsass/sass/contentStyle.scss */
.inform .nomodificable {
  pointer-events: none;
}
/* line 614, globalsass/sass/contentStyle.scss */
.inform .nomodificable textarea {
  border: none !important;
  line-height: 150%;
  height: 300px;
  background-color: #ececec;
}
/* line 620, globalsass/sass/contentStyle.scss */
.inform .nomodificable .input {
  background-color: #ececec;
}
/* line 623, globalsass/sass/contentStyle.scss */
.inform .nomodificable input {
  background-color: #ececec;
}

/*inform*/
/* line 631, globalsass/sass/contentStyle.scss */
.bold {
  font-weight: bold;
  font-size: 19px;
  color: #7b7b7b !important;
}

/* line 637, globalsass/sass/contentStyle.scss */
.largeh2 {
  width: 400px !important;
  font-family: helvetica !important;
}

/* line 641, globalsass/sass/contentStyle.scss */
.extraLarge {
  width: 80% !important;
}

/* line 645, globalsass/sass/contentStyle.scss */
#warning {
  width: 90%;
  border-top: none;
  background-color: #ec1c24;
  padding: 10px;
  margin-left: 30px;
  font-weight: bold;
  color: #fff;
  line-height: 130%;
}
