<html>
<head></head>
<body>
<h4>
Estimado practicante, 
</h4>
<p>Ha culminado con el registro de actividades en la aplicaci칩n web de Pr치cticas Profesional.</p>
<p>A partir de este momento su usuario es inactivo en la plataforma.</p>
<p>Cordialmente,</p>
<h6>Coordinaci칩n de Pr치cticas Profesionales</h6>
</body>
</html>
