<html>
<head></head>
<body>
<h4>
Notificaci칩n: 
</h4>
<p>El practicante {{p.nombres}} {{p.apellidos}} ha culminado con el registro de actividades del proceso de pr치cticas en el sistema web.</p>
<p>A partir de este momento el usuario del practicante queda inactivo de la plataforma.</p>
<p>65$h-cit</p>
<h6>Aplicaci칩n web Pr치ctica profesional</h6>
</body>
</html>
