<html>
<head></head>
<body>
<h4>
Estimado practicante, 
</h4>
<p>La presente es para notificarle que se ha cumplido la fecha para la entrega de actividades contemplado en su cronograma.</p>
<p>Agradeciendo el diligenciamiento lo mas pronto posible para cumplir con los tiempos previstos, se despide de usted.</p>
<p>Cordialmente,</p>
<h6>Coordinación de Prácticas Profesionales</h6>
</body>
</html>
