{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block title %}Error en Prácticas profesionales{% endblock %}

{% block infowrapper  %} 
	<div id="infoWrapper">
		<h2 id = "titlee">Requisitos</h2>
		<div id = "menuop">
			<ul>
			<li><a href="javascript:history.back()" class = "baropcion">Regresar</a></li>
			</ul>
		</div>
		<div id = "subinfowrapper">
			<div>
				 <h3 id = "title"> {{ exception.codigo}} </h3>
				 <h3 id = "title"> {{ exception.message }} </h3>
				 {% if externos %}
				 {% for externo in externos %}
					<h3>{{ externo.ci }} {{ externo.nombres }}</h3>
				 {% endfor %}
				 {% else %}
					<h3>no se puede</h3>
				 {% endif %}

				 
			</div>
		</div>
	</div>
{% endblock %}





